/* Home.css */

/* Global styles */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

/* Navbar styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}

.logo img {
  height: 40px;
}

.search-bar input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.nav-icons a {
  margin-left: 15px;
  text-decoration: none;
  color: #333;
}

.nav-icons img {
  height: 30px;
}

/* Card styles */
.card {
  max-width: 600px;
  margin: 20px auto;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-header {
  display: flex;
  align-items: center;
  padding: 15px;
}

.card-pic img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.user-info {
  margin-left: 15px;
}

.card-image img {
  width: 100%;
  height: auto;
}

.card-content {
  padding: 15px;
}

.material-symbols-outlined {
  margin-right: 5px;
}

.add-comment {
  display: flex;
  align-items: center;
}

.add-comment input {
  margin-top: 15px;
  padding: 8px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.comment {
  padding: 8px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.comment:hover {
  background-color: #2980b9;
}

.material-symbols-outlined{
  cursor: pointer;
}
.material-symbols-outlined-red {
  color: red;
  font-variation-settings:
  'FILL' 1,
  'wght' 700,
  'GRAD' 0,
  'opsz' 24
}

/* Responsive styles */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: stretch;
  }

  .search-bar input {
    width: 100%;
    margin-top: 10px;
  }

  .nav-icons {
    margin-top: 10px;
  }
}
