/* Common styles for all screen sizes */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}

.logo img {
  max-width: 100px;
}

.search-bar input {
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 200px;
}

.nav-icons a {
  margin-right: 1rem;
}

.nav-icons img {
  width: 24px;
}

.user-info h2 {
  margin: 0;
  padding-top: 6px;
}

.card-image {
  width: 100%; /* Adjust the width for all screen sizes */
  height: auto; /* Auto height to maintain aspect ratio */
  overflow: hidden;
  position: relative;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.comment {
  border: none;
  background-color: white;
  font-weight: bolder;
  cursor: pointer;
  color: #339ce3;
  margin-left: 5px;
}

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
  /* Adjust styles for screens up to 768px wide */
  .search-bar input {
      width: 100%; /* Make the search bar full width */
  }

  .nav-icons a {
      margin-right: 0.5rem; /* Decrease margin for smaller screens */
  }

  .user-info h2 {
      font-size: 1rem; /* Adjust font size for smaller screens */
  }

  .card-image {
      width: 100%; /* Make the card image full width */
      height: auto;
  }
}

@media screen and (max-width: 480px) {
  /* Adjust styles for screens up to 480px wide */
  .logo img {
      max-width: 80px; /* Decrease logo size for smaller screens */
  }

  .nav-icons img {
      width: 20px; /* Decrease icon size for smaller screens */
  }
}
