.profile {
  max-width: 600px;
  margin: 10px auto;
  background-color: #f5f5f5;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.profile-frame {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-pic {
  height: fit-content;
  overflow: hidden;
}

.profile-pic > img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.profile-data {
  text-align: left;
  margin-left: 20px;
}

.profile-info {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.profile-info p {
  margin: 5px;
  padding: 10px;
  border-radius: 8px;
  background-color: #d6d6d6;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
}

.gallery img {
  width: calc(33.33% - 20px);
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.followBtn {
  cursor: pointer;
  font-weight: bolder;
  padding: 13px 25px;
  border-radius: 15px;
  font-size: 0.8rem;
  border: none;
  color: white;
  background: linear-gradient(45deg, #ff4e50, #fc913a);
  transition: all 0.25s ease;
  margin-left: 20px;
}

.followBtn:hover {
  transform: scale(1.1);
  box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.5);
}

.changePic {
  background-color: #fff;
  border-radius: 20px;
  margin-top: 20px;
  padding: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.changePic div {
  text-align: center;
}

.upload-btn {
  cursor: pointer;
  background: linear-gradient(45deg, #45a29e, #283c86);
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bolder;
  font-size: 15px;
  padding: 10px 20px;
  margin-top: 15px;
  transition: all 0.3s ease;
}

.upload-btn:hover {
  background: linear-gradient(45deg, #283c86, #45a29e);
}
