
body, html {
  margin: 0;
  padding: 0;
}

/* Signin.css */

.signIn {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSB1lN1hGZAj0MpZ1ZoN7tt7q38JyzTvjmSMQ&usqp=CAU");
    background-size: cover;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loginForm {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 300px;
}

.loginForm input {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #ddd;
}

.loginForm #login-btn {
  background-color: #3897f0;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px 0;
  border-radius: 3px;
}

.loginForm #login-btn:hover {
  background-color: #2684f0;
}

.loginForm2 {
  background-color: #ffffff;
  padding: 20px;
  margin-top: 5px;
  border: 1px solid rgb(129, 121, 121);
  border-radius: 1px;
}

.loginForm2 span {
  color: #3897f0;
  cursor: pointer;
}
