/* Your global styles (reset, fonts, etc.) here */

.signup-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 40px;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    text-align: center;
  }
  
  h1 {
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  button {
    width: calc(100% - 20px);
    padding: 10px;
    background-color: #3897f0;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #2874f0;
  }
  
  p {
    font-size: 14px;
    margin-top: 20px;
  }
  
  a {
    color: #003569;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  